/mvnw text eol=lf
*.cmd text eol=crlf
* text=auto eol=lf

# binary files should not be modified
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.tar binary
*.gz binary
*.mp3 binary
*.mp4 binary
*.mov binary
*.wmv binary
*.avi binary
*.exe binary
*.dll binary
*.so binary
*.bin binary
*.class binary
*.o binary
*.a binary
*.lib binary
*.pdb binary
*.iso binary
*.dmg binary
*.ttf binary
*.woff binary