### Java / Maven ###
target/
*.class
**/bin/
*.log
**/logs/
.history/

### IDE - Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IDE - IntelliJ ###
.idea
*.iws
*.iml
*.ipr

### System / Env ###
.DS_Store
Thumbs.db
.env
.env.local
.env.md
*.env
.env.development
.env.test
.env.production

### Docker ###
docker-compose.override.yml

### Documentation ###
# If you generate large docs or diagrams you don't want in the repo
**/externalResources/
.AI/
ProjectDocs/
AGENTS.md
.claude/
.gemini/

### Frontend ###
frontend/dist/
frontend/build/
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
frontend/.git

# locals
.bin
.trash
